bookshop/xmlfiles/Bookstore.dtd

<!ELEMENT bookstore (book+)>
<!ELEMENT book (title,author,year,price,media)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT media (#PCDATA)>

<!ATTLIST book category CDATA #REQUIRED>
<!ATTLIST title lang CDATA "">
<!ATTLIST media type CDATA "">